@use '../shared/styles/helpers' as *;

.user-details {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
        'image info'
        'actions info';
    gap: rem(20);

    @include mobile {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'image'
            'info'
            'actions';
    }

    &__image-wrapper {
        @include flex-center;

        grid-area: image;
    }

    &__image {
        display: block;
        width: rem(250);

        @include tablet {
            width: rem(150);
        }

        @include mobile {
            width: rem(300);
        }

        @include mobile-s {
            width: rem(200);
        }
    }

    &__actions {
        grid-area: actions;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(10);

        @include tablet {
            grid-template-columns: 1fr;
        }
    }

    &__delete-button {
        color: var(--color-red);
    }

    &__info {
        grid-area: info;
    }

    .tile {
        padding: rem(20);
    }
}

.user-info {
    display: flex;
    flex-direction: column;
    row-gap: rem(30);

    &__header {
        line-height: normal;
    }

    &__name {
        font-size: rem(35);
    }

    &__username {
        color: var(--color-gray-alt);
        font-size: rem(20);
        font-style: italic;
    }

    &__list {
        display: grid;
        row-gap: rem(5);
    }

    &__item {
        display: flex;
        align-items: center;
        column-gap: rem(15);
    }

    &__item-icon {
        --size: #{rem(20)};

        @include square(var(--size));

        color: var(--color-violet);

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__value {
        font-size: rem(18);
    }
}