@use './shared/styles/helpers/' as *;

.header {
    position: sticky;
    top: 0;
    left: 0;
    padding-block: rem(10) rem(15);
    background-color: var(--color-main);
    box-shadow: var(--shadow);

    &__link {
        display: inline-flex;
        flex-direction: column;
        background-image: var(--gradient);
        background-clip: text;
        color: transparent;
        font-size: rem(30);
        font-weight: 700;
        line-height: normal;
        transition-duration: var(--transition-duration);

        @include hover {
            filter: brightness(1.3);
        }

        & span:last-child {
            font-size: 0.5em;
        }
    }
}

.main {
    padding-block: rem(40);
}