@use './shared/styles/helpers/' as *;

.header {
    padding-block: rem(10) rem(15);
    box-shadow: var(--shadow);

    &__link {
        display: inline-flex;
        flex-direction: column;
        background-image: var(--gradient);
        background-clip: text;
        color: transparent;
        font-size: rem(30);
        font-weight: 700;
        line-height: normal;

        & span:last-child {
            font-size: 0.5em;
        }
    }
}

.main {
    padding-block: rem(40);
}