@use 'helpers' as *;

.visually-hidden {
    @include visually-hidden;
}

.container {
    --container-width: #{rem(1200)};
    --container-padding-x: #{rem(20)};

    max-width: calc(var(--container-width) +  var(--container-padding-x) * 2);
    padding-inline: var(--container-padding-x);
    margin-inline: auto;
}

.section {
    display: grid;
    row-gap: rem(20);

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 1rem;
    }
}

.tile {
    @include gradient-border(rem(2), var(--color-main));
    
    border-radius: rem(10);
}

.button,
.button-skeleton {
    @include flex-center;

    column-gap: rem(5);
    padding: rem(5) rem(15);
    border: none;
    font-weight: 600;
    transition-duration: var(--transition-duration);

    &__icon {
        --size: #{rem(20)};

        @include square(var(--size));

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

.button {
    background-color: var(--color-gray-light);
    border-radius: rem(5);
    color: var(--color-dark);

    @include hover {
        filter: brightness(0.95);
    }

    &--gradient-border {
        @include gradient-border(rem(2), var(--color-main));
    }

    &--gradient-bg {
        background-image: var(--gradient);
        color: var(--color-main);

        @include hover {
            filter: brightness(1.2);
        }
    }
}

.button-skeleton {
    padding-inline: 0;
    color: var(--color-gray-alt);

    @include hover {
        filter: brightness(1.2);
        column-gap: rem(10);
    }
}

@keyframes rotation-animation {
    to {
        rotate: 360deg;
    }
}

.component-preloader {
    --circleSize: #{rem(40)};

    @include flex-center;

    grid-row: -1 / 1;
    grid-column: -1 / 1;
    flex-grow: 1;

    &--small {
        --circleSize: #{rem(20)};
    }

    &--big {
        --circleSize: #{rem(60)};
    }

    &::before {
        content: '';
        height: var(--circleSize);
        aspect-ratio: 1;
        border: rem(3) solid var(--color-gray-alt);
        border-right-color: transparent;
        border-radius: 50%;
        animation: rotation-animation 1.5s linear infinite;
    }
}

.disabled {
    pointer-events: none;
}