:root {
    --color-main: #F1F1F1;
    --color-dark: #1a1a1a;
    --color-dark-transparent: #1a1a1abf;
    --color-gray: #b7b7b7;
    --color-gray-light: #e1e1e1;
    --color-gray-alt: #727272;
    --color-red: #c5475e;
    --color-pale-red: #ffe6eb;
    --color-violet: #923dff;
    --color-pale-violet: #f0e4ff;

    --gradient: linear-gradient(to top right, #f4123c, #923dff);
    --shadow: 0 0.125rem 0.5rem 0.125rem var(--color-gray);

    --transition-duration: 0.3s;
}