@use '../shared/styles/helpers' as *;

.user-form {
    display: grid;
    row-gap: rem(20);

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(15) rem(30);
    }

    &__footer {
        display: flex;
        justify-content: center;
    }

    &__submit-button {
        width: rem(250);
        font-size: rem(20);
    }
}

.form-field {
    display: flex;
    flex-direction: column;
    row-gap: rem(5);

    &__label {
        font-size: rem(20);
    }

    &__required-star {
        color: var(--color-red);
    }

    &__control-wrapper {
        @include gradient-border(rem(2), var(--color-main));

        border-radius: rem(10);
    }

    &__control {
        width: 100%;
        padding: rem(10) rem(15);
        font-size: rem(20);
        border: none;
        border-radius: rem(10);
        transition-duration: var(--transition-duration);

        @include hover {
            background-color: var(--color-pale-violet);
        }

        &:focus-visible {
            outline: var(--color-dark) dashed rem(2);
            outline-offset: rem(4);
        }

        &.invalid {
            background-color: var(--color-pale-red);
        }
    }

    &__errors {
        color: var(--color-red);
    }
}